* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

header {
    position: sticky;
    z-index: 1;
    top: 0;
    min-height: 100px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

header .logo-style {
    min-height: 70px;
    align-items: center;
    margin-right: 0;
    padding-top: 11px;
}

header .logo-img {
    width: auto;
    height: 3rem;
    margin-right: 0.5rem;
}

header .logo-title {
    color: #232323;
    font-size: 1.6rem;
    font-weight: 700;
    vertical-align: 16px;
    line-height: 1;
}

header .logo-title:hover {
    color: #565656;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    height: 100px;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-weight: 500;
    color: #232323;
    font-size: 1.1rem;
    padding: 0.6em 0.6em;
    margin: 0 0.6em;
}

nav ul li:hover {
    background-color: #ffffff;
    color: #565656;
}

header .social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .social-media a {
    color: #000000;
    font-size: 1.4rem;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 0.3rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    height: 390px;
    background-color: #1b2026;
}

.banner .container {
    width: 1140px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 120px;
}

.banner-text h2 {
    color: #bbbbbb;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.banner-text h1 {
    color: #ffffff;
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.banner-btn {
    background: white;
    border-radius: 10px;
    margin-left: 45%;
}

.banner-btn p {
    padding: 1rem 2rem;
}

.banner-btn p a {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #232323;
    font-weight: 550;
}

.banner-btn p a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.2s;
}

.banner-btn p a:hover::after {
    width: 100%;
}