* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
}

header {
    position: sticky;
    z-index: 10;
    top: 0;
    min-height: 100px;
    background-color: #efefef;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
    border-bottom: 1px solid transparent;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1);
}

header .fa-bars {
    display: none;
    font-size: 2rem;
}

header .logo-style {
    /* min-height: 70px; */
    /* align-items: center; */
    /* margin-right: 0; */
    /* padding-top: 6px; */
    display: flex;
    align-items: center;
}

header .logo-img {
    height: 3rem;
    margin-right: 0.8rem;
    margin-top: 5px;
}

header .logo-title {
    color: #232323;
    font-size: 1.6rem;
    font-weight: 700;
    /* vertical-align: 16px; */
    line-height: 1;
}

header .logo-title:hover {
    color: #565656;
    cursor: pointer;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    height: 100px;
    display: flex;
    align-items: center;
}

nav ul li a {
    font-weight: 500;
    color: #232323;
    font-size: 1.1rem;
    padding: 0.6em 0.6em;
    margin: 0 0.6em;
}

nav ul li:hover {
    background-color: #ffffff;
    color: #565656;
}

header .social-media {
    display: flex;
}

header .social-media a {
    color: #000000;
    font-size: 1.4rem;
    background: #ffffff;
    border-radius: 10px;
    margin: 0 0.3rem;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner {
    /* height: 390px; */
    background-color: #1b2026;
}

.banner .container {
    width: 1140px;
    height: 388px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* padding-bottom: 10px; */
    padding: 0 16px 10px;
}

.banner-text h2 {
    color: #bbbbbb;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.banner-text h1 {
    color: #ffffff;
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 2rem;
}

.banner-btn {
    background: white;
    border-radius: 10px;
    /* margin-left: 45%; */
}

.banner-btn p {
    padding: 1rem 2rem;
}

.banner-btn p a {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #232323;
    font-weight: 550;
}

.banner-btn p a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #000;
    transition: width 0.2s;
}

.banner-btn p a:hover::after {
    width: 100%;
}

.platforms {
    background-color: #efefef;
}

.platforms .container {
    width: 1140px;
    display: flex;
    margin: 0 auto;
    padding: 96px 0;
}

.platforms .app-image {
    margin-right: 86px;
    margin-left: 15px
}

.platforms .app-image img {
    /* width: 484px; */
    max-width: 100%;
    border-radius: 10px;
}

.platforms .app-details {
    margin-top: 82px;
}

.platforms .app-text h3 {
    font-size: 3.1rem;
    line-height: 1.1;
    /* width: min-content; */
    color: rgb(35, 35, 35);
    margin-bottom: 1rem;
}

.platforms .app-text p {
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 32px;
    width: 85%;
}

.platforms .features {
    margin-left: 3px;
}

.platforms .features ul {
    list-style: none;
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 400;
}

.platforms .features ul li {
    margin-bottom: 32px;
    position: relative;
    padding-left: 50px;
}

.platforms .features ul li::before {
    position: absolute;
    top: -5px;
    left: -5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: #ffffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    content: "✓";
}

.platforms .learn-more {
    margin-top: 4rem;
}

.platforms .learn-more-link {
    color: #ffffff;
    padding: 1.2rem 2.8rem;
    border-radius: 4px;
    background-color: #1b2026;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

.platforms .learn-more i {
    margin-right: 10px;
}

.platforms .learn-more-link:hover {
    background-color: #f7d9c4;
    color: #1b2026;
    transition: background 1s, color 1s;
}

.our-features {
    background-color: #ffffff;
    padding-top: 64px;
    padding-bottom: 96px;
}

.our-features .container {
    width: 1140px;
    margin: 0 auto;
}

.our-features h3 {
    font-size: 3.8rem;
    line-height: 1.1;
    text-align: center;
    margin-bottom: 48px;
}

.our-features .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 0px 16px;
}

.our-features .card {
    width: 100%;
    height: 464px;
    background-color: #efefef;
    padding: 48px;
    position: relative;
    overflow: hidden;
}

.our-features .card i {
    /* display: block; */
    font-size: 3rem;
    color: #ff8484;
    margin-bottom: 2rem;
}

.our-features .card strong {
    font-size: 1.6rem;
    line-height: 1.5;
    display: block;
    margin-bottom: 12px;
    color: rgb(35, 35, 35);
}

.our-features .card p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777777;
    margin-bottom: 40px;
}

.our-features .cards .read-more {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.our-features .cards .read-more i {
    font-size: 2.5rem;
    margin-right: 1rem;
    font-weight: lighter;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
}

.our-features .cards .read-more span {
    font-size: 1.1rem;
    line-height: 1.5;
    opacity: 0;
}

.our-features .card::before {
    position: absolute;
    right: -100px;
    bottom: -100px;
    content: '';
    width: 200px;
    height: 200px;
    background: #ff8484;
    transform: rotate(45deg);
    opacity: 0.1;
}

.our-features .cards .card:nth-child(2) {
    background-color: #1b2026;
}

.our-features .card:nth-child(2) i,
.our-features .card:nth-child(2) strong,
.our-features .card:nth-child(2) p {
    color: #ffffff;
}

.our-features .card:nth-child(2) .read-more i {
    font-size: 2.5rem;
    margin-right: 1rem;
    font-weight: lighter;
    border: 1px solid #efefef;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0rem;
}

.our-features .card:nth-child(2) .read-more span {
    color: #ffffff;
    opacity: 1;
    font-weight: bold;
}

.our-features .cards .card:nth-child(2)::before {
    opacity: 1;
}

.our-features .cards .card:hover {
    background-color: #1b2026;
}

.cards .card:hover i,
.cards .card:hover strong,
.cards .card:hover p,
.cards .card:hover .read-more span,
.cards .card:hover::before {
    opacity: 1;
    color: #ffffff;
}

.our-features .cards .card:hover .read-more span {
    font-weight: bold;
}

.our-features .cards .card:hover .read-more i {
    border: 1px solid #efefef;
    border-radius: 50%;
}

.newsletter {
    background-color: #efefef;
    padding: 90px 0 90px 0;
}

.newsletter .container {
    width: 1108px;
    height: 311px;
    background-color: #1b2026;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.newsletter .text-content {
    width: 46%;
}

.newsletter .text-content h4 {
    color: #ff8484;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 8px;
}

.newsletter .text-content h3 {
    color: #ffffff;
    font-weight: bold;
    font-size: 3.1rem;
    line-height: 1.1;
}

.newsletter .form-content input {
    font-family: "DM Sans", sans-serif;
}

.newsletter .form-content input[type=text] {
    margin: 0 5px;
    padding: 1rem 1.5rem;
    border-radius: 4px;
    background-color: #31363b;
    color: #ffffff;
    border: none;
    font-size: 1rem;
    font-weight: 400;
    width: 324px;
    height: 55px;
}

.newsletter .form-content input[type=submit] {
    margin: 0 5px;
    background-color: #ff8484;
    border-color: #ff8484;
    color: #ffffff;
    font-size: 1.1rem;
    line-height: 1.5;
    width: 148px;
    height: 55px;
    border-radius: 4px;
    font-weight: 600;
}

.newsletter .form-content input[type=submit]:hover {
    cursor: pointer;
    color: #ffffff;
    background-color: #ff2d2d;
    border-color: #ff2d2d;
    transition: 0.5s;
}

.fun-fact {
    background-color: #ffffff;
    padding: 112px 0 80px 0;
}

.fun-fact .container {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.fun-fact .container img {
    display: block;
    max-width: 100%;
    /* width: 484px; */
    height: 473px;
    border-radius: 10px;
    margin-right: 87px;
    margin-left: 15px;
}

.fun-fact .text-content h3 {
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 1rem;
}

.fun-fact .text-content h2 {
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 1rem;
    width: 85%;
}

.fun-fact .text-content p {
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    width: 90%;
}

.fun-fact .symbols {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
}

.fun-fact .symbols i {
    background: #efefef;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fun-fact .symbols .symbol-up,
.fun-fact .symbols .symbol-down {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.fun-fact .symbol-up strong,
.fun-fact .symbol-down strong {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 4px;
    display: block;
}

.fun-fact .symbol-up p,
.fun-fact .symbol-down p {
    color: #777777;
    font-size: 1.1rem;
    line-height: 1.5;
    margin-bottom: 0rem;
}

.fun-fact .symbol-up div,
.fun-fact .symbol-down div {
    padding-left: 1.5rem;
}

.fun-fact .symbols .fa-arrow-up {
    color: #8bd176;
    font-size: 1.8rem;
}

.fun-fact .symbols .fa-arrow-down {
    color: #ff6666;
    font-size: 1.8rem;
}

.biography {
    background-color: #efefef;
    padding: 96px 0 48px 0;
}

.biography .container {
    width: 1140px;
    height: 574px;
    margin: 0 auto;
    display: flex;
    background-color: #dce8eb;
    border-radius: 10px;
    padding: 0 20px;
}

.biography .container img {
    transform: scale(1.1);
    border: 10px solid #ffffff;
    border-radius: 10px;
}

.biography .container .text-content {
    padding: 85px 95px;
}

.biography .container .text-content h5 {
    font-size: 3.1rem;
    line-height: 1.1;
    font-weight: bold;
    color: rgb(35, 35, 35);
    margin-bottom: 1rem;
}

.biography .container .text-content p {
    color: #777777;
    font-size: 1.1rem;
    font-weight: 400;
    line-height: 2.5;
    margin-bottom: 1.5rem;
}

.biography .container .social-media i {
    width: 62px;
    height: 62px;
    /* display: inline-block; */
    text-align: center;
    border-radius: 1rem;
    margin-right: 0.6rem;
    margin-bottom: 1rem;
    padding: 1.3rem;
    background: #ffffff;
    transition: all 0.3s;
    color: #bbbbbb;
    font-size: 1.3rem;
}

.biography .container .social-media i:hover {
    background-color: #f7d9c4;
    color: #ffffff;
}

.about-me {
    background-color: #efefef;
    padding: 64px 0 80px;
}

.about-me .container {
    background-color: #dce8eb;
    padding: 48px 104px 56px;
    margin: 0 auto;
    max-width: 900px;
    border-radius: 16px;
    position: relative;
    text-align: center;
    z-index: 2;
}

.about-me .container i {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2rem;
    color: #ffffff;
    font-size: 12rem;
    z-index: -1;
}

.about-me .container h2 {
    font-size: 1rem;
    line-height: 1.5;
    color: #777777;
    margin-bottom: 1rem;
    font-weight: 400;
}

.about-me .container p {
    font-size: 1.6rem;
    line-height: 1.5;
    color: #232323;
    font-weight: bold;
}

.pictures {
    height: 564px;
    background-color: #ffffff;
    padding: 90px 0;
}

.pictures .container {
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.pictures .container img {
    width: 313px;
    height: 350px;
    margin: 0 32px;
    object-fit: cover;
}

.pictures .container img:nth-child(2) {
    transform: scale(1.1);
}

.feedbacks {
    background-color: #efefef;
    padding-top: 80px;
}

.feedbacks .container {
    width: 1140px;
    height: 672px;
    margin: 0 auto;
    text-align: center;
}

.feedbacks .container .title {
    margin-bottom: 48px;
}

.feedbacks .title p {
    font-size: 1.1rem;
    line-height: 1.9;
    color: #777777;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.feedbacks .title h3 {
    font-size: 3.8rem;
    line-height: 1.1;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.feedbacks .feedback-content {
    display: flex;
}

.feedbacks .feedback {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 48px 0 32px;
    margin: 0 16px;
}

.feedbacks .feedback img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 2rem;
}

.feedbacks .feedback h5 {
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: bold;
}

.feedbacks .feedback h6 {
    font-size: 1rem;
    line-height: 1.5;
    color: #ff8484;
    font-weight: bold;
    margin-bottom: 1rem;
}

.feedbacks .feedback p {
    font-size: 1.1rem;
    line-height: 1.9;
    color: #777777;
    font-weight: 400;
    margin-bottom: 0;
    padding: 0 70px;
}

.our-client {
    background-color: #efefef;
    padding: 60px 0px 100px;
}

.our-client .container {
    width: 1108px;
    height: 218px;
    background-color: #ffffff;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.our-client .container img {
    width: 161px;
    height: 106px;
    opacity: 0.7;
    overflow: hidden;
}

.our-client .container img:hover {
    animation: rotate-center 1s linear 0s 1 normal none;
}

.get-newsletter {
    background-color: #dce8eb;
}

.get-newsletter img {
    width: 50%;
    /* height: 717px;
    margin: 0;
    object-fit: cover; */
}

.get-newsletter .container {
    display: flex;
}

.get-newsletter .text-content {
    max-width: 550px;
    margin: auto;
    /* padding: 4rem 0; */
}

.get-newsletter .text-content h3 {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777777;
    margin-bottom: 1rem;
    font-weight: bold;
}

.get-newsletter .text-content h2 {
    font-size: 3.8rem;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 2rem;
}

.get-newsletter .text-content p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #777777;
    margin-bottom: 3rem;
}

.get-newsletter .text-content .mode-toggle,
.supoort {
    margin-bottom: 2rem;
    display: flex;
}

.get-newsletter .text-content i {
    background: #ffffff;
    border-radius: 50%;
    min-width: 80px;
    height: 80px;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #14191e;
    font-size: 2rem;
}

.get-newsletter .text-content h4 {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #14191e;
    margin-bottom: 5px;
}

.get-newsletter .text-content h5 {
    font-size: 1rem;
    line-height: 1.5;
    color: #777777;
    font-weight: 400;
}

.view-in-action {
    padding-top: 80px;
    background-color: #efefef;
}

.view-in-action .container {
    width: 1140px;
    height: 550px;
    background-color: #efefef;
    margin: 0 auto;
    text-align: center;
}

.view-in-action .container h4 {
    font-size: 3.1rem;
    line-height: 1.1;
    margin-bottom: 3rem;
    font-weight: bold;
}

.view-in-action .container .media {
    display: flex;
}

.view-in-action .media .image,
.view-in-action .media img {
    width: 570px;
    height: 350px;
    margin: 0 15px;
    border-radius: 10px;
    object-fit: cover;
}

.view-in-action .media .image {
    background-image: url(/img/background4.jpg);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
}

.view-in-action .media i {
    position: relative;
    margin: auto;
    width: 120px;
    height: 120px;
    background: #ffffff;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    color: #121212;
}

.maps iframe {
    width: 100%;
    height: 480px;
}

footer {
    height: 533px;
    background-color: #1b2026;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 30px;
}

footer .container {
    width: 1012px;
    height: 341px;
    /* display: flex;
    gap: 10%; */
    /* justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
}

footer .container h5 {
    font-size: 1.6rem;
    line-height: 1.5;
    margin-bottom: 2rem;
    font-weight: bold;
}

footer .container ul {
    list-style: none;
    font-size: 1rem;
    line-height: 1.5;
}

footer .rows ul a {
    color: #dce8eb;
    /* font-style: normal; */
    line-height: 1.7;
    /* display: block; */
    /* max-width: max-content; */
}

footer .main-links .rows {
    display: flex;
}

footer .main-links .rows ul {
    width: 168px;
}

footer .main-links .rows li {
    margin-bottom: 0.6rem;
}

/* footer .main-links .rows li a::after {
    content: '';
    display: block;
    width: 0;
    height: 1px;
    background: #ffffff;
    transition: width 0.2s;
}
footer .main-links .rows li a:hover::after {
    width: 100%;
} */
footer .main-links .rows li a {
    display: inline-block;
    position: relative;
}

footer .main-links .rows li a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom left;
    transition: transform 0.1s ease-out;
}

footer .main-links .rows li a:hover:after {
    transform: scaleX(1);
    /* transform-origin: bottom right; */
}

footer .get-in-touch {
    margin-left: 50px;
}

footer .get-in-touch .rows {
    margin-bottom: 40px;
}

footer .get-in-touch li {
    padding-bottom: 0.6rem;
}

footer .get-in-touch .button {
    background-color: #f7d9c4;
    width: 202px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .get-in-touch .button a {
    color: #1b2026;
    font-size: 1rem;
    line-height: 1.5;
    font-weight: 600;
}

footer .get-in-touch .button i {
    color: #1b2026;
    font-size: 1.25rem;
    margin-left: 0.5rem;
    vertical-align: middle;
}

footer .get-in-touch .button:hover {
    background-color: #ffffff;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

footer .get-in-touch .rows li a {
    position: relative;
}

footer .get-in-touch .rows li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom left;
    transition: transform 0.1s ease-out;
}

footer .get-in-touch .rows li:nth-child(odd) a:hover::after {
    transform: scaleX(1);
}

footer .get-in-touch .rows li:nth-child(even) a {
    cursor: auto;
}

footer .about {
    margin-left: 50px;
}

footer .about p {
    font-size: 1.1rem;
    line-height: 1.5;
    color: #efefef;
    margin-bottom: 2rem;
    width: 88%;
}

footer .about h6 {
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: bold;
    margin-bottom: 1rem;
}

footer .social-media {
    display: flex;
}

footer .social-media i {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    margin-right: 0.5rem;
    /* transition: all 0.3s; */
    padding: 0.8rem;
    height: 3rem;
    width: 3rem;
    border: 1px solid #777777;
    color: #777777;
    font-size: 1.1rem;
    /* line-height: 1.5; */
    transition: all 0.2s ease-in;
}

footer .social-media i:hover {
    background-color: #f7d9c4;
}

@keyframes rotate-center {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 600px) {

    .nav-bar,
    header .social-media {
        display: none;
    }

    header {
        padding: 0 1rem;
    }

    header .logo-title {
        font-size: 1.25rem;
    }

    header .fa-bars {
        display: block;
    }

    .banner .container {
        /* display: block; */
        width: 100%;
        height: 423px;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .banner .banner-text h1 {
        font-size: 2.2rem;
    }

    .banner .banner-text h2 {
        font-size: 1.05rem;
    }

    .banner .banner-btn a {
        font-size: 1rem;
    }

    .platforms .container {
        display: block;
        width: 100%;
    }

    .platforms .app-details {
        margin-top: 2rem;
    }

    .platforms .app-image {
        padding: 0 15px;
        margin: 0;
    }

    .platforms .app-text h3 {
        font-size: 2rem;
        margin: 0 auto 1rem;
        text-align: center;
    }

    .platforms .app-text p {
        font-size: 1rem;
        margin: 0 auto 2rem;
        text-align: center;
        /* line-height: 23px; */
        /* width: 84%; */
    }

    .platforms .features {
        display: flex;
        justify-content: center;
        margin: 0;
    }

    .platforms .learn-more {
        margin-top: 3rem;
        display: flex;
        justify-content: center;
    }

    .our-features .container {
        width: 100%;
        /* display: block; */
    }

    .our-features .container h3 {
        font-size: 2.2rem;
    }

    .our-features .container .cards {
        /* display: block; */
        grid-template-columns: 1fr;
        gap: 0;
    }

    .our-features .container .cards .card {
        margin-bottom: 30px;
        text-align: center;
        padding: 40px 25px 0 25px;
        height: 390px;
        background-color: #1b2026;
    }

    .our-features .container .cards .card i,
    .our-features .container .cards .card strong,
    .our-features .container .cards .card p {
        /* display: flex; */
        /* justify-content: center; */
        color: #ffffff;
    }

    .our-features .card::before,
    .our-features .cards .read-more span {
        opacity: 1;
        color: #ffffff;
        font-weight: bold;
    }

    .our-features .card strong {
        font-size: 1.2rem;
    }

    .our-features .card p {
        font-size: 1rem;
        line-height: 1.5;
    }

    .our-features .cards .card .read-more i {
        border: 1px solid #efefef;
        border-radius: 50%;
    }

    .newsletter .container {
        /* display: block; */
        width: 90%;
        height: 374px;
        padding: 50px 0;
        flex-direction: column;
    }

    .newsletter .text-content {
        width: 100%;
        margin-bottom: 2rem;
    }

    .newsletter .text-content h4 {
        font-size: 1rem;
        text-align: center;
    }

    .newsletter .text-content h3 {
        font-size: 2rem;
        text-align: center;
    }

    .newsletter .form-content {
        margin: 0 15px;
        width: 90%;
    }

    .newsletter .form-content input[type=text] {
        width: 100%;
        /* width: 310px; */
        margin: 0;
    }

    .newsletter .form-content input[type=submit] {
        margin: 20px auto 0;
        display: flex;
        justify-content: center;
    }

    .fun-fact .container {
        /* display: block; */
        width: 100%;
        flex-direction: column;
    }

    .fun-fact .container img {
        /* display: block; */
        width: 92%;
        height: auto;
        margin: 0 auto 2rem;
    }

    .fun-fact .text-content {
        text-align: center;
        font-size: 1rem;
        padding: 0px 20px;
    }

    .fun-fact .text-content h2 {
        font-size: 2.3rem;
        width: 100%;
    }

    .fun-fact .symbols {
        /* display: grid; */
        /* grid-template-rows: auto; */
        gap: 0;
        justify-content: center;
        /* align-items: center; */
        grid-template-columns: none;
    }

    .fun-fact .text-content p {
        width: 100%;
    }

    .fun-fact .symbol-up strong,
    .fun-fact .symbol-down strong {
        font-size: 2rem;
        text-align: left;
    }

    .fun-fact .symbols .symbol-up,
    .fun-fact .symbols .symbol-down {
        display: flex;
        justify-content: flex-start;
        margin-bottom: 2rem;
    }

    .biography .container {
        width: 92%;
        flex-direction: column;
        height: auto;
        padding: 0;
    }

    .biography .container img {
        /* width: 100%; */
        height: auto;
        margin-bottom: 2rem;
        transform: scale(1);
    }

    .biography .container .text-content {
        padding: 0;
        text-align: center;
    }

    .biography .container .text-content h5 {
        font-size: 2rem;
    }

    .biography .container .text-content p {
        font-size: 1rem;
    }

    .about-me .container p {
        font-size: 1.25rem;
    }

    .about-me .container {
        padding: 25px 20px;
        width: 92%;
    }

    .about-me .container i {
        font-size: 9rem;
    }

    .pictures {
        height: fit-content;
    }

    .pictures .container {
        flex-direction: column;
    }

    .pictures .container img {
        width: 90%;
        height: 350px;
        margin: 15px 0;
        transform: none !important;
    }

    .feedbacks .container {
        width: 100%;
        height: fit-content;
    }

    .feedbacks .container .title {
        width: 60%;
        margin: 0 auto 48px;
    }

    .feedbacks .title h3 {
        font-size: 2.2rem;
    }

    .feedbacks .feedback-content {
        flex-direction: column;
    }

    .feedbacks .feedback {
        margin: 16px;
    }

    .feedbacks .feedback h5 {
        font-size: 1.2rem;
    }

    .feedbacks .feedback p {
        font-size: 1rem;
        padding: 0px 21px;
        font-style: italic;
    }

    .our-client {
        padding: 60px 16px 100px;
    }

    .our-client .container {
        width: 100%;
        height: fit-content;
        /* margin: 0 auto; */
        flex-direction: column;
        padding-bottom: 70px;
    }

    .our-client .container img {
        width: 50%;
        height: auto;
        padding: 20px 0;
        opacity: 0.9;
    }

    .get-newsletter .container {
        flex-direction: column;
    }

    .get-newsletter img {
        width: 100%;
        height: auto;
    }

    .get-newsletter .text-content {
        text-align: center;
        padding: 4rem 0;
    }

    .get-newsletter .text-content h2 {
        font-size: 2rem;
    }

    .get-newsletter .text-content p {
        font-size: 1rem;
        padding: 0 35px;
    }

    .get-newsletter .text-content h5 {
        width: 90%;
        margin: 0 auto;
    }

    .get-newsletter .text-content .mode-toggle,
    .supoort {
        flex-direction: column;
        align-items: center;
    }

    .get-newsletter .text-content i {
        width: 80px;
        height: 80px;
        margin-bottom: 2rem;
    }

    .get-newsletter .text-content h4 {
        font-size: 1rem;
    }

    .view-in-action .container h4 {
        font-size: 2rem;
    }

    .view-in-action .container .media {
        flex-direction: column;
    }

    .view-in-action .container {
        width: 100%;
        height: fit-content;
    }

    .view-in-action .media .image,
    .view-in-action .media img {
        width: 92%;
        height: 300px;
        margin: 0 auto 30px;
        object-fit: cover;
    }

    .view-in-action .media img {
        margin: 0 auto 100px;
    }

    footer {
        padding: 0;
        height: fit-content;
    }

    footer .container {
        /* display: grid; */
        grid-template-columns: 1fr;
        /* display: flex; */
        /* flex-direction: column; */
        text-align: center;
        height: fit-content;
    }

    footer .container h5 {
        font-size: 1.2rem;
    }

    footer .main-links {
        margin: 50px 0;
    }

    footer .main-links .rows {
        flex-direction: column;
    }

    footer .main-links .rows ul {
        width: 100%;
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    }

    footer .get-in-touch {
        margin: 0;
    }

    footer .get-in-touch .button {
        margin: 0 auto;
    }

    footer .about {
        margin: 0;
        margin-top: 50px;
    }

    footer .about p {
        margin: 0 auto 30px;
    }

    footer .social-media {
        /* display: flex; */
        justify-content: center;
        margin-bottom: 100px;
    }
}

@media only screen and (min-width: 539px) {

    header .logo-title {
        font-size: 1.4rem;
    }
    .banner .banner-text h1 {
        font-size: 2.9rem;
    }
    .platforms .app-text h3 {
        font-size: 2.5rem;
    }
    .platforms .app-text p {
        font-size: 1.1rem;
    }
    .our-features .container h3 {
        font-size: 2.8rem;
    }
    .our-features .card strong {
        font-size: 1.4rem;
    }
    .newsletter .text-content h3 {
        font-size: 2.5rem;
    }
    .fun-fact .container img {
        width: 95%;
    }
    .fun-fact .text-content h2 {
        font-size: 3rem;
    }
    .fun-fact .symbol-up strong, .fun-fact .symbol-down strong {
        font-size: 2.5rem;
    }
    .biography .container {
        width: 95%;
    }
    .about-me .container {
        width: 95%;
    }
    .pictures .container img {
        width: 95%;
        height: 250px;
    }
    .feedbacks .container .title {
        width: 100%;
    }
    .feedbacks .title h3 {
        font-size: 2.9rem;
    }
    .our-client .container img {
        width: 55%;
    }
    .get-newsletter .text-content h2 {
        font-size: 2.9rem;
    }
    .get-newsletter .text-content h5 {
        width: 100%;
    }
    .view-in-action .media .image, .view-in-action .media img {
        width: 95%;
    }
    footer .container h5 {
        font-size: 1.5rem;
    }
    footer .about p {
        width: 90%;
    }
}
@media only screen and (min-width: 575px){
    .platforms .app-image {
        padding: 0 30px;
    }
    .our-features .cards {
        padding: 0px 30px;
    }
    .newsletter .text-content {
        width: 75%;
    }
    .fun-fact .container img {
        width: 88%;
    }
    .biography .container {
        width: 88%;
    }
    .about-me .container {
        width: 88%;
    }
    .pictures .container img {
        height: 350px;
    }
    .feedbacks .container {
        width: 95%;
    }
    .our-client .container {
        width: 95%;
    }
    .view-in-action .container {
        width: 95%;
    }
    footer .about p {
        width: 85%;
    }
}